<!--Dev Team P3-6
Neeraja Garigipati s528801
Vaishnavi Kalvakota s528803
-->
<br/>
<br/>
<h2>Roofing coating details</h2>
<br/>
<br/>
<table class="table" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Display Order</th>
					
				</tr>
			</thead>
			<tbody>
			
<tr>
<td>
<p>Item
	<%=  roofingCoating._id %>
</p>


<p>
	<%=  roofingCoating.name %>
</p>

<p>
	<%=  roofingCoating.price %> per
		<%=  roofingCoating.unit %>
</p>
</td>
</tr>
</tbody>
</table>
<br/>
<form method="get" action="/roofingCoating">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
