<br/>
<br/>
<br/>
<h1>Team 05-01 - Flooring Estimate</h1>
<h2>Team Members </h2>
<ul>
    <li><b>Dambadeni Kalu Achchillage, Nilantha</li>
    <li>Muralidhar Gouda Buddanagoudagari</b></li>
</ul>
<p>Our team is responsible for developing Flooring Estimate User interface, its controller and model 
functionalities. </p>
<p>Flooring Estimate view included summary view of flooring estimates and it displays all the available 
flooring estimates. At the top of the view, it displays the heading as Flooring estimate and the number 
of available flooring estimates. Then it lists the all available estimates summaries.</p>
 <p>At right top of the page, there is a button “Create new flooring estimate” to create a new flooring estimate. 
 Once client click on that, it will direct to create new estimate view and client can complete the form there and 
 click the “Post entry” button to create the new Estimate.</p>
<p>At the Flooring Estimate home page, in each flooring estimate summary, there are three links for “Delete”, “Details” and “Edit”. When client click the Delete link, it will direct to a delete conformation page which client need to conform the deletion by clicking “Delete this item” button, or else he can click “Return to list” button and go back to the estimate summary page without deleting the post. Second, once the client click on the “Details” link, it will direct to a view that shows more details about the flooring estimate. Client can come back to the estimate summary view by clicking on the “Return to list” button. Finally, Client can click on the “Edit” link and edit the details about the estimate. Once he change the details, he can click on the “Save” button and save the changes, or he can click on the “Return to list” button and go back to the summary list without applying the changes. </p>
<h3>Team Members’ Responsibilities.</h3>
<p>Both of us worked on each requirement together to complete the requirements.</p> 


<br/>
<br/>

<!--This model is managed by team 5-R01
Dambadeni Kalu Achchillage, Nilantha
Muralidhar Gouda Buddanagoudagari -->