<br/>
<br/>
<br/>
<h1><b>Team 05-R14-Waterproofing</b></h1>
<h2><b>Team Members</b></h2><br>
<ul>
<li><h4><b>Snigda Jataprolu</h4></b></li>
<li><h4><b>Sruthi Palpandian</h4></b></li>
<li><h4><b>Samyuktha Reddy Ganga</h4></b></li>
</ul><br>
<h4>Our team is responsible for modelling the materials which is used to define the domain specific concepts<br><br>
Under the waterproofing model we have three sub parts of models which are Primers,Basecoats and Topcoats each of the subpart has some specific action to be done there are four methods to be performed they are DELETE,DETAILS,EDIT,CREATE 
using these methods we can delete a particualar row using the row id and we can also show the details on to the screen,edit option is used to edit the existing value and create method is used to add a new entry to the list all these methods are applicable for all the three subparts of waterproofing model.</h4><br><br>
<h3><b>Team Responsibilities</b></h3>
<h4>All three of us worked together to complete the overall requirement of the application</h4>


<br/>
<br/>