<br/>
<br/>
<br/>
<h1><b>Team 05-R12-Aggregate Materials and Flooring Coatings</b></h1>
<h2><b>Team Members</b></h2><br>
<ul>
<li><h4><b>Harsha Vardhan Reddy Alla</h4></b></li>
<li><h4><b>Saiteja Guduri</h4></b></li>
</ul><br>
<h4>
In this digital world, each and every business is moving to the web. Similarly our client wants to represent all the business activities on a website as their
lives will become eaiser and much comfortable to track their profits and losses. 

 
As the part of our project, our team is responsible for maintaining the Aggregate Material Cost and also the Flooring Coatings.<br><br>
</h4><br><br>
<h3><b>Team Responsibilities</b></h3>
<h4>We both worked together to meet overall requirements of the application.</h4>


<br/>
<br/>