<br/>
<br/>
<br/>
<h1>Team 05-13-Roofing Materials</h1>
<h2>Team Members</h2>
<ul><b>
<li>Chilmakuri,Venkat Sandeep</li>
<li>Siddamsetty, Sashidhar</li>
<li>Chandupatla, Rahul Reddy</li></b></ul>
<p>Our Team is responsible for developing Roofing Materials user interface, it's controller and model functionalities.</p>
<p>Roofing Materials view consits of three parts. 1.primers, 2.Base coats, 3.Top coats.</p>
<ul>
<li>In primers view you can always add a new entry by clicking on Add a new one hyperlink. By clicking on Add a new one hyperlink you will be redirected to Create a new roofing Primer product where you can view information about number of roofing primers currently available. The largest Id and largest display order can be viewed. The view is designed in such a way that the ID is generated automatically every time you post a new entry. Name,Unit,Price,Display Order can be given as entries here and then by clicking on Post Entry a new entry is addded to the list. After posting the new entry you can use Actions Delete,Details and Edit to make any neccessary changes. By clicking on Details you can view the details of the primer posted. By using Edit Action you can always make any neccessary changes needed to make in a entry. By using Delete action you can delete the entry posted.The same Actions can be performed for Base coats and Top coats</li>
</ul>
<h3>Team Member's Responsibilities</h3>
<p>All of us worked together to complete the tasks assigned to our team</p>
<br/>
<br/>