<li class="dropdown-submenu">
  <a href="/about_2017_spring_04">2017 Spring 04 <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t1">Team 1 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t1/a">Yeshwanth Rao Rangineni</a></li>
        <li><a href="/about_2017_spring_04/t1/b">Gopi Sai Krishna Lemati</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t2">Team 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t2/a">Rupraj Bhandari</a></li>
        <li><a href="/about_2017_spring_04/t2/b">Aadit Yadav</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t3">Team 3 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t3/a">Akshay Reddy Vontari</a></li>
        <li><a href="/about_2017_spring_04/t3/b">Kranthi Kumar Parelly</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t4">Team 4 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t4/a">Karthik Laddipeerla</a></li>
        <li><a href="/about_2017_spring_04/t4/b">Naveen Kumar Kolla</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t5">Team 5 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t5/a">Raviteja Chintala</a></li>
        <li><a href="/about_2017_spring_04/t5/b">Saidevi Uppalapati</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t6">Team 6 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t6/a">Jyotsna</a></li>
        <li><a href="/about_2017_spring_04/t6/b">Bhavishya</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t7">Team 7 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t7/a">Aditya Srimat Tirumala Pallerlamudi</a></li>
        <li><a href="/about_2017_spring_04/t7/b">Lavanya Kalluri</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t8">Team 8 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t8/a">Sandeep Dara</a></li>
        <li><a href="/about_2017_spring_04/t8/b">Tilak Dhulipalla</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t9">Team 9 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t9/a">Srinithya Kamareddy</a></li>
        <li><a href="/about_2017_spring_04/t9/b">Varsha Basawapuram</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t10">Team 10 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t10/a">Haritha Kurla</a></li>
        <li><a href="/about_2017_spring_04/t10/b">Aswini Vadlamudi</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t11">Team 11 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t11/a">name 1</a></li>
        <li><a href="/about_2017_spring_04/t11/b">name 2</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t12">Team 12 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_04/t12/a">name 1</a></li>
        <li><a href="/about_2017_spring_04/t12/b">Wendy Eloe</a></li>
      </ul>
    </li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_04/t15">Mentors <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="http://denisecase.github.io">Denise Case</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/about_2017_spring_04/t15/e">Rathnakar Ettedi</a></li>
        <li><a href="/about_2017_spring_04/t15/r">Vamsi Ravva</a></li>
      </ul>
    </li>
  </ul>
</li>