<li class="dropdown-submenu">
  <a href="about_2016_fall_03">2016 Fall 03 <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t1">Team 1 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t1/a">Madadi, Vipul Reddy</a></li>
        <li><a href="about_2016_fall_03/t1/b">Mandapati, Avinash Varma</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t2">Team 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t2/a">Goda, Sai Narasimha Kumara Raja</a></li>
        <li><a href="about_2016_fall_03/t2/b">Linga, Balamani Sandeep</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t3">Team 3 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t3/a">Poodipeddi, Venkata Prasant</a></li>
        <li><a href="about_2016_fall_03/t3/b">Yarlagadda, Phani Lakshman</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t4">Team 4 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t4/a">Ekka, Abhinav</a></li>
        <li><a href="about_2016_fall_03/t4/b">Vunnam, Pradeep</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t5">Team 5 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t5/a">Nayeni, Sai Rama Rao</a></li>
        <li><a href="about_2016_fall_03/t5/b">Pati, AjithReddy</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t6">Team 6 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t6/a">Kuchana, Deepak</a></li>
        <li><a href="about_2016_fall_03/t6/b">Pothireddy, Subba Reddy</a></li>
        <li><a href="about_2016_fall_03/t6/c">Sangaraju, Sunil Kumar</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t7">Team 7 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t7/a">Morugadi, Aditya Sreeram Reddy</a></li>
        <li><a href="about_2016_fall_03/t7/b">Peddireddy, Tarun</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t8">Team 8 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t8/a">Bhogaraju, Prasanthi Rani</a></li>
        <li><a href="about_2016_fall_03/t8/b">Vanaparthi, Mani Vikash</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t9">Team 9 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t9/a">Ghimire, Upashana</a></li>
        <li><a href="about_2016_fall_03/t9/b">Yelamanchili, Chandan Srinivas</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t10">Team 10 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t10/a">Boppishetty, Vineetha</a></li>
        <li><a href="about_2016_fall_03/t10/b">Kappara, Renu Rajeshwari</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t11">Team 11 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t11/a">Pochampally, Abhilash</a></li>
        <li><a href="about_2016_fall_03/t11/b">Verma, Monish</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t12">Team 12 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t12/a">Mallidi, Anudeep Reddy</a></li>
        <li><a href="about_2016_fall_03/t12/b">Yalala, Anoop Kumar</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t13">Team 13 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t13/a">Gajula, Vineeth</a></li>
        <li><a href="about_2016_fall_03/t13/a">Emani, Venkata Sainath Reddy</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t14">Team 14 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_03/t14/a">Kuppagiri, Durga Bhavani</a></li>
        <li><a href="about_2016_fall_03/t14/b">Vegesna, Navyatha</a></li>
      </ul>
    </li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_03/t15">Mentors <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="http://denisecase.github.io">Denise Case</a></li>
        <li><a href="http://www.nwmissouri.edu/csis/directory/qin.htm">Zhengrui Qin</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="about_2016_fall_03/t15/a">Neha Ankam</a></li>
        <li><a href="about_2016_fall_03/t15/b">Sreekanth Bandaru</a></li>
        <li><a href="about_2016_fall_03/t15/e">Rathnakar Ettedi</a></li>
        <li><a href="about_2016_fall_03/t15/k">Pushkar Kanikicherla</a></li>
        <li><a href="about_2016_fall_03/t15/m">Harika Malempati</a></li>
        <li><a href="about_2016_fall_03/t15/p">Bhavana Pilli</a></li>
        <li><a href="about_2016_fall_03/t15/r">Harsha Rachakunta</a></li>
      </ul>
    </li>
  </ul>
</li>