<li class="dropdown-submenu">
  <a href="/about_2016_fall_05">2016 Fall 05 <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t1">Team 1 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t1/a">Nilantha</a></li>
        <li><a href="/about_2016_fall_05/t1/b">Muralidhar</a></li>
        <!-- Edited by Nilantha and Muralidhar-->
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t2">Team 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about/t2/a">Sai Prakash</a></li>
        <li><a href="about/t2/b">Revanth Kovuri</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t3">Team 3 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t3/a">Marley</a></li>
        <li><a href="/about_2016_fall_05/t3/b">Nicky</a></li>
        <li><a href="/about_2016_fall_05/t3/c">Olive</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t4">Team 4 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t4/a">Harish Babu Achanta</a></li>
        <li><a href="/about_2016_fall_05/t4/b">HariKiran Akunuri</a></li>
        <li><a href="/about_2016_fall_05/t4/c">Mounika Chanati</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t5">Team 5 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t5/a">Supriya Nakerikanti</a></li>
        <li><a href="/about_2016_fall_05/t5/b">Saravana Kumar Palaniyappan</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t6">Team 6 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t6/a">Akhila</a></li>
        <li><a href="/about_2016_fall_05/t6/b">Anjali</a></li>
        <!--<li><a href="/about_2016_fall_05/t6/c"></a></li>-->
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t7">Team 7 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t7/a">Divya</a></li>
        <li><a href="/about_2016_fall_05/t7/b">Eshan</a></li>
        <li><a href="/about_2016_fall_05/t7/c">Frankie</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t8">Team 8 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t8/a">Jayesh</a></li>
        <li><a href="/about_2016_fall_05/t8/b">Kent</a></li>
        <li><a href="/about_2016_fall_05/t8/c">Lakshay</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t9">Team 9 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t9/a">Sri Sai Ravali</a></li>
        <li><a href="/about_2016_fall_05/t9/b">Avyakta</a></li>

      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t10">Team 10 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t10/a">Hima Bindu</a></li>
        <li><a href="/about_2016_fall_05/t10/b">Shravani</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t11">Team 11</a>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t12">Team 12 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t12/a">Harsha</a></li>
        <li><a href="/about_2016_fall_05/t12/b">Saiteja</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t13">Team 13 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t13/a">Venkat Sandeep</a></li>
        <li><a href="/about_2016_fall_05/t13/b">Sashidhar</a></li>
        <li><a href="/about_2016_fall_05/t13/c">Rahul</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t14">Team 14 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_05/t14/a">Snigda</a></li>
        <li><a href="/about_2016_fall_05/t14/b">Sruthi</a></li>
        <li><a href="/about_2016_fall_05/t14/c">Samyuktha</a></li>
      </ul>
    </li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_05/t15">Mentors <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="http://denisecase.github.io">Denise Case</a></li>
        <li><a href="http://www.nwmissouri.edu/csis/directory/qin.htm">Zhengrui Qin</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/about_2016_fall_05/t15/a">Neha Ankam</a></li>
        <li><a href="/about_2016_fall_05/t15/b">Sreekanth Bandaru</a></li>
        <li><a href="/about_2016_fall_05/t15/e">Rathnakar Ettedi</a></li>
        <li><a href="/about_2016_fall_05/t15/k">Pushkar Kanikicherla</a></li>
        <li><a href="/about_2016_fall_05/t15/m">Harika Malempati</a></li>
        <li><a href="/about_2016_fall_05/t15/p">Bhavana Pilli</a></li>
        <li><a href="/about_2016_fall_05/t15/r">Harsha Rachakunta</a></li>
      </ul>
    </li>
  </ul>
</li>