<li class="dropdown-submenu">
  <a >2017 Spring 02 <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t1">Team 1 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t1/a">Cassandra Baldus</a></li>
        <li><a href="/about_2017_spring_02/t1/b">David Bruce</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t2">Team 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2017_spring_02/t2/a">Caleb Bertels</a></li>
        <li><a href="about_2017_spring_02/t2/b">Caroline Pickett</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t3">Team 3 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t3/a">Sreeja Reddy Challa</a></li>
        <li><a href="/about_2017_spring_02/t3/b">Koushik Lakkaraju</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t4">Team 4 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t4/a">Raveendranath Eluri</a></li>
        <li><a href="/about_2017_spring_02/t4/b">Prathibha Kamani</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t5">Team 5 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t5/a">Raghavender Jarupati</a></li>
        <li><a href="/about_2017_spring_02/t5/b">Kavya Sri Margam</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t6">Team 6 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t6/a">Nikhil Reddy Kankanala</a></li>
        <li><a href="/about_2017_spring_02/t6/b">Sushmitha Madireddy</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t7">Team 7 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t7/a">Venkata Naga Kamal Nadh Meduri</a></li>
        <li><a href="/about_2017_spring_02/t7/b">Naga Sravanthi Modali</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t8">Team 8 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t8/a">Shiva Teja Miyapuram</a></li>
        <li><a href="/about_2017_spring_02/t8/b">Manohar Sriram</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t9">Team 9 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t9/a">Sai Nithin Reddy Muppidi</a></li>
        <li><a href="/about_2017_spring_02/t9/b">Venkata Naga Manikanta Harnath Vagicharla</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t10">Team 10 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t10/a">Jordan Nazario</a></li>
        <li><a href="/about_2017_spring_02/t10/b">Hunter Turley</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t11">Team 11 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_02/t11/a">Mahesh Vankayala</a></li>
        <li><a href="/about_2017_spring_02/t11/b">Vinay Madhav Reddy Vanga</a></li>
        <li><a href="/about_2017_spring_02/t11/a">Bala Krishna Vijayagiri</a></li>
      </ul>
    </li>
    
    <li role="separator" class="divider"></li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t15">Mentors <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="http://denisecase.github.io">Denise Case</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/about_2017_spring_02/t15/e">Rathnakar Ettedi</a></li>
        <li><a href="/about_2017_spring_02/t15/r">Vamsi Ravva</a></li>
      </ul>
    </li>
  </ul>
</li>

<%#Team P2-11 (Mahesh Vankayala, Bala Krishna Vijayagiri, Vinay Madhav Reddy Vanga)%>