<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
  <ul class="dropdown-menu">
      <% include about_2017_spring_01 %>
    <% include about_2017_spring_02 %>
      <% include about_2017_spring_03 %>
        <% include about_2017_spring_04 %>

          <li role="separator" class="divider"></li>
          <% include about_2016_fall_03 %>
            <% include about_2016_fall_04 %>
              <% include about_2016_fall_05 %>
                <% include about_2016_fall_06 %>

</li>
<li role="separator" class="divider"></li>
<li class="dropdown-submenu">
  <a >Mentors <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li>Denise Case</li>
    <li>Diana Linville</li>
    <li>Michael Rogers</li>
    <li>Jerry Qin</li>
    <li role="separator" class="divider"></li>
    <li>Rathnakar Ettedi</li>
    <li>Vamsi Ravva</li>
    <li>Sandip Subedi</li>
  </ul>
</li>
</ul>
</li>