<li class="dropdown-submenu">
  <a href="/about_2016_fall_06">2016 Fall 06 <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t1">Team 1 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t1/a">Bedudoori, Sanjay</a></li>
        <li><a href="about_2016_fall_06/t1/b">Pilli, Vamsi Nagendra</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t2">Team 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t2/a">Runyon, Jaque</a></li>
        <li><a href="about_2016_fall_06/t2/b">Warren, Kyle</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t3">Team 3 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t3/a">Nersu, Hemanth Sai Kishore</a></li>
        <li><a href="about_2016_fall_06/t3/b">Sadhu, Rohith Babu</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t4">Team 4 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t4/a">Eggleston, Tyler</a></li>
        <li><a href="about_2016_fall_06/t4/b">Ledbetter, Sheldon D.</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t5">Team 5 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t5/a">Mummadi, Lakshmi Godha</a></li>
        <li><a href="about_2016_fall_06/t5/b">Prathipati, Yeswanth Eswar</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t6">Team 6 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t6/a">Somepalli, Charan Teja</a></li>
        <li><a href="about_2016_fall_06/t6/b">Vellapalem, Hasya Durga</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t7">Team 7 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t7/a">Katragadda, Venkatesh</a></li>
        <li><a href="about_2016_fall_06/t7/b">Mamidala, Sri Sai Ram Kumar</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t8">Team 8 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t8/a">Devalla, Vamsi</a></li>
        <li><a href="about_2016_fall_06/t8/b">Ambati, Bharadwaj</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t9">Team 9 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t9/a">Goke, Akhila</a></li>
        <li><a href="about_2016_fall_06/t9/b">Girikala, Vamshi Krishna</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2016_fall_06/t10">Team 10 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2016_fall_06/t10/a">Agumamidi, Santhosh Reddy</a></li>
        <li><a href="/about_2016_fall_06/t10/b">Kankara, Sudharshan Reddy</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t11/c">Team 11 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t11/a">Tallapaneni, Sai Kiran</a></li>
        <li><a href="about_2016_fall_06/t11/b">Yelamanchili, Chandan Srinivas</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t12">Team 12 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t12/a">Gomes, Anik Paul</a></li>
        <li><a href="about_2016_fall_06/t12/b">Young, Keautishay</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t13">Team 13 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t13/a">Culver, John-Paul</a></li>
        <li><a href="about_2016_fall_06/t13/b">Hudson, Barrett J.</a></li>
        <li><a href="about_2016_fall_06/t13/c">Riley, Jonathan</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t14">Team 14 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2016_fall_06/t14/a">Brandt, Jesse</a></li>
        <li><a href="about_2016_fall_06/t14/b">Wang, Yijun</a></li>
      </ul>
    </li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-submenu">
      <a href="about_2016_fall_06/t15">Mentors <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="http://denisecase.github.io">Denise Case</a></li>
        <li><a href="http://www.nwmissouri.edu/csis/directory/qin.htm">Zhengrui Qin</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/about_2016_fall_06/t15/a">Neha Ankam</a></li>
        <li><a href="/about_2016_fall_06/t15/b">Sreekanth Bandaru</a></li>
        <li><a href="/about_2016_fall_06/t15/e">Rathnakar Ettedi</a></li>
        <li><a href="/about_2016_fall_06/t15/k">Pushkar Kanikicherla</a></li>
        <li><a href="/about_2016_fall_06/t15/m">Harika Malempati</a></li>
        <li><a href="/about_2016_fall_06/t15/p">Bhavana Pilli</a></li>
        <li><a href="/about_2016_fall_06/t15/r">Harsha Rachakunta</a></li>
      </ul>
    </li>
  </ul>
</li>