<li class="dropdown-submenu">
  <a >2017 Spring 01 <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t1">Team 1 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t1/a">Joshua Dallas</a></li>
        <li><a href="/about_2017_spring_01/t1/b">Pollard, Kyle</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t2">Team 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="about_2017_spring_01/t2/a">Edmisten, Jacob</a></li>
        <li><a href="about_2017_spring_01/t2/b">Leinen, Courtney</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t3">Team 3 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t3/a">Moody, Christopher</a></li>
        <li><a href="/about_2017_spring_01/t3/b">Schneider, Boston</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t4">Team 4 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t4/a">Quintero, Anthony</a></li>
        <li><a href="/about_2017_spring_01/t4/b">Bradway III, Jay</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t5">Team 5 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t5/a">Rainey, Hayden</a></li>
        <li><a href="/about_2017_spring_01/t5/b">Jones, Sydney</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t6">Team 6 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t6/a">Reuscher, Elicia</a></li>
        <li><a href="/about_2017_spring_01/t6/b">Andersen, Kara</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t7">Team 7 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t7/a">Riley, Jonathan</a></li>
        <li><a href="/about_2017_spring_01/t7/b">Sinclair, Kolby</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t8">Team 8 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t8/a">Williams, Brian</a></li>
        <li><a href="/about_2017_spring_01/t8/b">Pratt, Emily</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t9">Team 9 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t9/a">Young, Keautishay</a></li>
        <li><a href="/about_2017_spring_01/t9/b">Bryant, Emily</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t10">Team 10 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t10/a">Zion, Shea</a></li>
        <li><a href="/about_2017_spring_01/t10/b">Fairlie, Kelsey</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t11">Team 11 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t11/a">Burkemper, Caitlyn</a></li>
        <li><a href="/about_2017_spring_01/t11/b">Melo-Mora, Alexandra</a></li>
     </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_01/t12">Team 12 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about_2017_spring_01/t11/a">Yun, Sujung</a></li>
        <li><a href="/about_2017_spring_01/t11/b">Coin, Bailey</a></li>
     </ul>
    </li>
    
    <li role="separator" class="divider"></li>
    <li class="dropdown-submenu">
      <a href="/about_2017_spring_02/t15">Mentors <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="http://denisecase.github.io">Denise Case</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/about_2017_spring_02/t15/e">Rathnakar Ettedi</a></li>
        <li><a href="/about_2017_spring_02/t15/r">Vamsi Ravva</a></li>
      </ul>
    </li>
  </ul>
</li>

<%#Team P2-11 (Mahesh Vankayala, Bala Krishna Vijayagiri, Vinay Madhav Reddy Vanga)%>