<!-- P2-9 Venkata Naga Manikanta Harnath Vagicharla & Sai Nithin Reddy Muppidi--> 
</br>
</br>
<hr>
</br>
<footer class="footer">
<div class="container">
 <p>&copy; 2016-2017 NWMSU Web Apps Team Fall-2016, Spring-2017, All Rights Reserved</p>
<p class="text-muted"><a href="https://bitbucket.org/nw_webapps_2017_spring/cge">Bitbucket</a></p>
</div>
</footer>

