<div class="container-fluid">
    <div class=row>
        <div class="col col-md-12">
            <h1>Job Cost Estimator!</h1>
            <a href="flooringEstimate/create" class="btn btn-primary ">
         New flooring estimate
         </a>
            <a href="roofingEstimate/create" class="btn btn-primary ">
         New roofing estimate
         </a>
            <a href="waterproofingEstimate/create" class="btn btn-primary ">
         New waterproofing estimate
         </a>
            <h1></h1>
        </div>
<script type="text/javascript"> function init_map() { var myOptions = { scrollwheel: false, zoom: 17, center: new google.maps.LatLng(40.3528322, -94.88269890000004), mapTypeId: google.maps.MapTypeId.SATELLITE }; map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(40.3528322, -94.88269890000004) }); infowindow = new google.maps.InfoWindow({ content: "<b>NWMSU</b><br/>University Drive<br/>64468 " }); google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
</div>
</div>
</div>
</div>
<div class=container-fluid>
    <div class=row>
        <div class="col col-md-12">
            <% if (flooringEstimates.query.length) { %>
                <% include flooringEstimate/index.ejs %>
                    <% } else { %>
                        No flooring estimates! <a href="./flooringEstimate/create">Add one!</a>
                        <% } %>
        </div></br></br></br>
         <div class="col col-md-12">
            <% if (roofingEstimates.query.length) { %>
                <% include roofingEstimate/index.ejs %>
                    <% } else { %>
                        No roofing estimates! <a href="./roofingEstimate/create">Add one!</a>
                        <% } %>
        </div></br></br></br>
         <div class="col col-md-12">
            <% if (waterproofingEstimates.query.length) { %>
                <% include waterproofingEstimate/index.ejs %>
                    <% } else { %>
                        No waterproofing estimates! <a href="./waterproofingEstimate/create">Add one!</a>
                        <% } %>
        </div>
    </div>
</div>
</div>