<br/>
<br/>
<br/>
<h1>Barrett Hudson </h1>
<h2>Software Designer </h2>

<p>I am a Senior attending Norhtwest Missouri State University studying Computer Sciences. My interests include video games and roller coasters. Designing web pages is something that can be creative and uniqe which is something I enjoy.  </p>

<br/>
<br/>