<br/>
<br/>
<br/><br><br>
<h1>Jesse Brandt </h1>
<h2>Software Designer</h2><br><br>
<p>Hi there. I am Jesse Brandt. I am currently a senior at NWMSU majoring in Computer Science. <br>
I like to play with my dogs when I can and sleep whenever possible.</p>

<br/>
<br/>