<br/>
<br/>
<br/>
<h1>Flooring Estimates(Team 06-01)</h1>
<h2><u>Software Engineer</u> </h2>
<ol>
<li> Sanjay Bedudoori</li>
<li> Vamsi Nagendra Pilli </li>
</ol>
<h2> <u> Team Responsibilies </u> </h2>
<p> We Both worked on the Flooring Estimates and we can perform various CRUD (Create,Read,Update,Delete) Operations

<br/>
<br/>