<!--Dev-Team P4-2-->
<!--Rupraj Bhandari, Aadit Yadav-->
<h3>Waterproofing Materials</h3>
waterproofingType: <%=estimate.waterproofing.waterproofingType %><br/>
 <% include ../estimateparts/est-waterproofing1 %>
 <% include ../estimateparts/est-waterproofing3 %>
 <% include ../estimateparts/est-waterproofing_basecoat %>
