<!--P3-1 Dominic & Michael-->
<h3>Roofing Materials</h3>

Roof Type: <%=  estimate.roofing.roofType %><br/>
Process Type: <%=  estimate.roofing.processType %><br/>
      <% include ../estimateparts/est-roofing1 %>
      <% include ../estimateparts/est-roofing2 %>
      <% include ../estimateparts/est-roofing3 %>
      <% include ../estimateparts/est-roofing4 %>


