<!--p2-6
Sushmitha Madireddy, Nikil Reddy Kankanala-->
<h3>Flooring Materials</h3>

FloorSystemType: <%=  estimate.flooring.floorSystemType %><br/>
     <% include ../estimateparts/est-flooring1 %>
       <% include ../estimateparts/est-flooring2 %>

