<hr>
<h2>Comments</h2>
<hr>
<div class="form-group">
<textarea class="form-control" id="comment" name="comment" placeholder="Great client - looking forward to this job!" rows="3" ></textarea>
</div>
<br/>