<!--Dev-Team P4-2-->
<!--Rupraj Bhandari, Aadit Yadav-->
<hr>
<h2>Waterproofing Materials</h2>
<hr>
<div class="form-group">
<label for="subtotal">Waterproofing Type</label>
<div class="funkyradio"  >
    <div class="funkyradio-primary">
	<!--<input type="number" class="form-control" id="subtotal" name="subtotal" min=0 max=500000 required default=0>-->
    <input type="checkbox" name="Primer" id="Primer" <%= (estimate.waterproofing.waterproofingType =='Primer') ? 'checked' : ' ' %> />
        <label for="Primer">Primer</label>
	<!--<input type="number" class="form-control" id="subtotal" name="subtotal" min=0 max=500000 required value="0">-->
    </div>
  <!--  <div class="funkyradio"  > -->
    <div class="funkyradio-success">
	<!--<input type="number" class="form-control" id="subtotal" name="subtotal" min=0 max=500000 required default=0>-->
    <input type="checkbox" name="Basecoat" id="Basecoat" <%= (estimate.waterproofing.waterproofingType =='Basecoat') ? 'checked' : ' ' %> />
        <label for="Basecoat">Basecoat</label>
    </div>
   <!-- <div class="funkyradio"  > -->
    <div class="funkyradio-warning">
	<!--<input type="number" class="form-control" id="subtotal" name="subtotal" min=0 max=500000 required default=0>-->
    <input type="checkbox" name="Topcoat" id="Topcoat" <%= (estimate.waterproofing.waterproofingType =='Topcoat') ? 'checked' : ' ' %> />
        <label for="Topcoat">Topcoat</label>
 </div>   
</div>
</div>
 <% include ../estimateparts/fg-waterproofing1 %> 
 <% include ../estimateparts/fg-waterproofing3 %> 
