<br/>
<br/>
<br/>

  <h3>Profile</h3>
  <div class="row">
    <div class="col-sm-3">
      <img src="http://i63.tinypic.com/14se2xk.jpg">
    </div>
    <div class="col-sm-9">
       <p id="profile">
    I am a software developer specializing object-oriented approaches to network and platform development. 
    Sound background in full life-cycle of software development process including requirement gathering, design, coding,
     testing, debugging and maintenance. I have extensive experiences in designing and implementing flexible solutions 
     for frequently changing UI and functionality changes.  
    </p>
    <p>I am interested in mastering object oriented programming, study more in database management systems, web and mobile
       application development, internet and network security. </p>
    </div>
  </div>
<h3>Strengths Includes</h3>
<div class="row">
<div id="strengths" class="col-sm-6">
<ul>
  <li>Object Oriented Development</li>
  <li>Distributed/ Client Server Systems</li>
  <li>Database Development</li>
</ul>
</div>
<div id="strengths" class="col-sm-6">
  <ul>
  <li>CRM development and maintenance</li>
  <li>System and Network Security</li>
  <li>Operational databases and data warehousing</li>
</ul>
</div>
</div>
<div id="tecSkills">
  <h3>Technical Skills</h3>
  <table class="table"> 
    <tr class="success">
    <td>Languages:</td>
    <td>Java, Siebel, HTML, CSS, JavaScript, SQL</td>
    </tr>
    <tr class="success">
    <td>Methodologies:</td>
    <td>Object-Oriented Programming, UML, Relational database, NoSQL database,  Bootstrap, BitBucket, GitHub</td>
    </tr>
    <tr class="success">
    <td>Operating Systems: </td>
    <td>Windows XP/7/8/10, UNIX, Android, Linux</td>
    </tr>
    <tr class="success">
    <td>Databases: </td>
    <td>Oracle, MySQL, MongoDB</td>
    </tr>
    <tr class="success">
    <td>Networking:</td>
    <td>TCP/IP, HTTP, FTP, LANs, WANs.</td>
    </tr>
    <tr class="success">
    <td>Tools:</td>
    <td>Visual Studio, NetBeans, SoapUI, Sublime</td>
    </tr>
  </table>
  </dl>
</div>
<div id="profHistory">
  <h3>Professional History</h3>
  <dl>
    <dt>Data Analysis – UNOPS – Sri Lanka</dt>
    <dd>This involved collecting, analyzing, processing and presenting emergency data from areas where affected by tsunami
       in eastern Asia in 2004. Also in this project, I participated designing, implementing, testing and debugging a new 
       emergency data collecting software platform called EmergenyInfo. </dd>
    <dt>Developer – BBVA-Compass – USA</dt>
    <dd>I worked as a CRM developer. This involved implementing and maintaining everyday requirement of UI and 
      functional changes to the bank’s CRM, Data collecting and warehousing, perform data analyzing for making 
      better business decision.</dd>
  </dl>
</div>

<br/>
<br/>

<!--This file is managed by team 5-R01
Dambadeni Kalu Achchillage, Nilantha
Muralidhar Gouda Buddanagoudagari -->