<br/>
<br/>
<br/>
<h3>Estimate Part Footage</h3>
<p>The Main intention of this part footage module is it calculates the area <br>of the plot to be coated using Length and Breadth required by the customer</p>
<br/>
<br/>