<br/>
<br/>
<br/>
<h2>Team 03-14 Water proofing materials </h2>
<h3>About Us</h3>
<h4>-->Durga Bhavani Kuppagiri,<h4>
<h4>-->Navyatha,Vegesna.</h4>
<p>-->My team responsibility is to maintain three types of waterproofing materials.The three types of materials are as follows 1)primers 2)basecoats 3)top coats.
  These 3 types of materials have the options to enter a new entry,to see the details of the existing entry,to update the details already existed,to delete the entry.
  Every entry have the unique id,id will generate automatically.</p>
<h3>Our resposibilities</h3>
<p>-->we both worked together to fulfil all the requirements.</p>


<br/>
<br/>