<br/>
<br/>
<br/>
<h1><b>Team 05-R09-Estimate Part Aggregate</b></h1>
<h2><b>Team Members</b></h2><br>
<ul>
<li><h4><b>Sri Sai Ravali Chinthareddy</h4></b></li>
<li><h4><b>Avyaktha Pallerla</h4></b></li>
</ul><br>
<h4>Our team is responsible for estimating the aggregate part by considering the aggregate material
that are used for the project and estimating the cost for it.</h4><br><br>
<h3><b>Team Responsibilities</b></h3>
<h4>We both worked together to complete the tasks assigned to our team</h4>


<br/>
<br/>