<br/>
<br/>
<br/>
<h1>Waterproofing Estimates(Team 03)</h1>
<h2><u>Software Engineer</u> </h2>
 <h3>Hemanth Sai Kishore Nersu</h3>
<h2> <u> Team Responsibilies </u> </h2>
<p style="color:red;">I worked on the Waterproofing Estimates in this  project </p>
<p style="color:red;">Water Proofing estimation is used for finding the total estimated cost for waterproofing. </p>
<br/>
<br/>