<br/>
<br/>
<br/>
<h1>Team 05-10 - EstimatePartLabor</h1>
<h2>Team Members </h2>
<ul>
    <li><b>Hima Bindu Jammula</li>
    <li>Shravani Alampalli</b></li>
</ul>
<p>Our team is responsible for developing EstimatePartLabor User interface, its controller and model 
functionalities. </p>
<h3>Team Members’ Responsibilities.</h3>
<p>Both of us worked on each requirement together to complete the requirements.</p> 

<!--This model is managed by team 5-R10
 Hima Bindu Jammula
 Shravani Alampalli-->