<h1>Estimate Part Labor(Team 06-10)</h1><br>
<h2><u>Team Members</u></h2>
<ul>
<li>Sudharshan Reddy Kankara</li>
<li>Santhosh Reddy Agumamidi</li>
</ul>
<h2><u>Team Responsibilities</u></h2>
<li>Two of us together developed requirement(R10) which is Estimate Part Labor.</li>
<br/>
<br/>